SMTP 通信仕様ドキュメント（骨格）の作成

SMTP 通信機能を実装するため、最低限必要な仕様やコマンド、参考とする RFC などをまとめた骨格レベルの通信仕様ドキュメントを作成してください。

- サポートするコマンド
  - EHLO
  - HELO
  - MAIL
  - RCPT
  - DATA
  - RSET
  - NOOP
  - QUIT
  - VRFY
- クライアントとしての通信を想定
- 準拠する RFC
  - [RFC5321](https://datatracker.ietf.org/doc/html/rfc5321)
  - [RFC7504](https://datatracker.ietf.org/doc/html/rfc7504)
  - [RFC5322](https://datatracker.ietf.org/doc/html/rfc5322)
  - [RFC6854](https://datatracker.ietf.org/doc/html/rfc6854)
- 詳細なシーケンスやユースケースは不要